# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Optional backend-specific ignores
/server/node_modules/
/server/**/*.log
